.header {
    background-color: $black;

    // Hamburger Open Styles
    &.open {

        .header__toggle {
            >span:first-child {
                transform: rotate(-45deg);
            }

            >span:nth-child(2) {
                opacity: 0;
            }

            >span:last-child {
                transform: rotate(45deg);
            }
        }
    }

    .overlay {
        visibility: hidden;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($black, .75);
    }

    nav {
        padding: 1rem;

        @include breakpoint-down(medium) {
            padding: .65rem 1rem;
        }
    }

    &__logo {

        svg {
            width: 132px;
            fill: currentColor;

            @include breakpoint-down(medium) {
                width: 89px;
            }
        }
    }

    // Hamburger Menu
    &__toggle {

        >span {
            display: block;
            width: 22px;
            height: 3px;
            background-color: $white;
            border-radius: 1px;
            transition: all 200ms ease-in-out;
            transform-origin: 21px;

            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }
    }

    // Mobile Menu
    &__menu {
        visibility: hidden;
        position: fixed;
        top: 0;
        right: 0;
        width: 447px;
        max-width: 100vw;
        background: $black;
        margin: 0;
        padding: 2.375rem;
        height: 100vh;

        ul {
            padding: 0;

            li {
                list-style: none;
                padding-bottom: 25px;

                a {
                    font-size: $fs-800;
                    font-weight: 700;
                    color: $white;
                    transition: color 300ms ease-in-out;

                    @include breakpoint-down(xsmall) {
                        font-size: $fs-650;
                    }

                    &:hover {
                        color: $green;
                    }

                    &.account {
                        font-size: $fs-600;

                        @include breakpoint-down(xsmall) {
                            font-size: $fs-500;
                        }
                    }
                }

                span {
                    display: block;
                    border-bottom: 2px solid $white;
                    width: 20px;
                }
            }
        }

        .header__logo {
            svg {
                width: 89px;
                fill: currentColor;
            }
        }
    }

    &__links {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            margin: 0 17px;

            &:last-child {
                margin-right: 0px;
            }

            a {
                font-size: $fs-400;
                font-weight: 700;
                color: $white;
                transition: color 300ms ease-in-out;

                &:hover {
                    color: $green;
                }
            }

            span {
                border-left: 1px solid $white;
                height: 16px;
            }
        }
    }
}